{% extends "base.html" %}

{% block content %}
	<div id="doc_wrapper">
		
		<div id="filter">
			filter by
			<a class ="filter_link" href="">WHATSAPP</a>
			<a class ="filter_link" href="">EMAILS</a>
			<a class ="filter_link" href="">INVOICES</a>
			<a class ="filter_link" href="">RECEIPTS</a>
			<a class ="filter_link" href="">CONTRACTS</a>
			<a class ="filter_link" href="">DOCUMENTS</a>
		</div>

		<div class="doc_box">
			<div class="doc_info">
				<h2>'Barbie'-pop</h2>
				<div class="single_doc">
					<div class="doc_date">
						12 Feb 2023
					</div>
					<div class="doc_version">
						<a href="">'Barbie-pop #99'</a>
					</div>
					<div class="doc_nummering">
						Eigen nummering
					</div>
					<div class="doc_type">
						<div class="filter_link">
							PRODUCTIE
						</div>
					</div>
				</div>

				<div class="single_doc">
					<div class="doc_date">
						23 Feb 2023
					</div>
					<div class="doc_version">
						<a href="">'Barbie-pop #200'</a>
					</div>
					<div class="doc_nummering">
						nummering tegenpartij
					</div>
					<div class="doc_type">
						<div class="filter_link">
							EMAIL
						</div>
					</div>
				</div>
			</div>
			<div class="doc_summary">
				<h2>Summary</h2>
				De beantwoording van de vraag of een zeker voortbrengsel etc.
			</div>
		</div>
{% endblock %}

{% block footer %}

{% endblock %}